body {
  min-height: 100vh;
  background-color: #434954;
  font-family: "Hind Madurai", sans-serif;
  margin: 0;
}
#root {
  min-height: 100vh;
}
.lobby__container {
  min-height: 100vh;
}
.lobby {
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__title {
    font-family: "Cinzel", serif;
    font-weight: 800;
    font-size: 3em;
    color: #bb0c0c;
  }
}
.lobby__list {
  padding: 0;
  list-style: none;
  &__item {
    transition: ease-in-out 0.2s;
  }
  &__item:hover {
    cursor: pointer;
    color: #bb0c0c;
    background-color: #393e47;
  }
}

.quiz {
  color: #ffffff;
  &__question {
    text-align: center;
  }
}
.quiz__answer__list {
  text-align: center;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5%;
  justify-items: center;
}
.quiz__answer__list__item {
  cursor: pointer;
  width: 100%;
  background-color: #2a2e35;
  transition: ease-in-out 0.5s;
}
.quiz__answer__list__item:hover {
  background-color: #502c2c;
}

.score__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highscores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__input {
    font-family: "Hind Madurai", sans-serif;
    background: #22252b;
    color: #c1c4ca;
    border: solid #bb0c0c 1px;
    text-align: center;
    font-size: 1.5em;
  }
  &__button {
    border: none;
    font-family: "Hind Madurai", sans-serif;
    font-size: 1em;
    background: #22252b;
    color: #ffffff;
  }
  &__button:hover {
    background: #502c2c;
  }
}

.top__scores {
  text-align: center;
  padding: 0;
  color: #ffffff;
  &__list {
    list-style: none;
  }
}

.correct {
  color: green;
}
.incorrect {
  color: red;
}
